<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRouterWCF" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pulichev.aeroport.tns:8238/RouterWCF.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRouterWCF"
                contract="IRouterWCF" name="WSHttpBinding_IRouterWCF">
                <identity>
                    <servicePrincipalName value="host/PULICHEV.aeroport.tns" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>